@import "tailwindcss";

* {
  border-color: hsl(214, 32%, 91%);
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(222, 47%, 11%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
